SERVER_NAME={{ puppeteers_postiz_server_name }}
SSL_CERTIFICATE={{ puppeteers_postiz_ssl_certificate_path }}
SSL_CERTIFICATE_KEY={{ puppeteers_postiz_ssl_certificate_key_path }}
PROXY_PASS=http://postiz-app:5000
