MAIN_URL={{ puppeteers_postiz_main_url }}
FRONTEND_URL={{ puppeteers_postiz_frontend_url }}
NEXT_PUBLIC_BACKEND_URL={{ puppeteers_postiz_next_public_backend_url }}
JWT_SECRET={{ puppeteers_postiz_jwt_secret }}
DATABASE_URL=postgresql://{{ puppeteers_postiz_postiz_postgresql_user }}:{{ puppeteers_postiz_postiz_postgresql_password }}@postiz-postgres:5432/{{ puppeteers_postiz_postiz_postgresql_db }}
REDIS_URL=redis://postiz-redis:6379
BACKEND_INTERNAL_URL={{ puppeteers_postiz_backend_internal_url }}
TEMPORAL_ADDRESS=temporal:7233
IS_GENERAL=true
#EMAIL_FROM_ADDRESS=""
#EMAIL_FROM_NAME=""
DISABLE_REGISTRATION={{ puppeteers_postiz_disable_registration | lower }}
RUN_CRON=true
STORAGE_PROVIDER=local
UPLOAD_DIRECTORY=/uploads
NEXT_PUBLIC_UPLOAD_DIRECTORY=/uploads
X_API_KEY=
X_API_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
BEEHIIVE_API_KEY=
BEEHIIVE_PUBLICATION_ID=
THREADS_APP_ID=
THREADS_APP_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
PINTEREST_CLIENT_ID=
PINTEREST_CLIENT_SECRET=
DRIBBBLE_CLIENT_ID=
DRIBBBLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN_ID=
SLACK_ID=
SLACK_SECRET=
SLACK_SIGNING_SECRET=
MASTODON_URL=https://mastodon.social
MASTODON_CLIENT_ID=
MASTODON_CLIENT_SECRET=
OPENAI_API_KEY=
NEXT_PUBLIC_DISCORD_SUPPORT=
NEXT_PUBLIC_POLOTNO=
API_LIMIT=30
FEE_AMOUNT=0.05
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_SIGNING_KEY=
STRIPE_SIGNING_KEY_CONNECT=
NX_ADD_PLUGINS=false
