DB=postgres12
DB_PORT=5432
POSTGRES_USER={{ puppeteers_postiz_temporal_postgresql_user }}
POSTGRES_PWD={{ puppeteers_postiz_temporal_postgresql_password }}
POSTGRES_SEEDS=temporal-postgresql
DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
ENABLE_ES=true
ES_SEEDS=temporal-elasticsearch
ES_VERSION=v7
TEMPORAL_NAMESPACE=default
